# Ignorar carpetas de entorno virtual
venv/
env/

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]

# Ignorar archivos de configuración del editor
*.vscode/
*.idea/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Archivos de dependencias si los generas automáticamente
*.log
